@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-3 mb-4">Okul Yönetim Sistemi</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="list-group shadow-lg rounded-3">
                <a asp-controller="Fakulte" asp-action="Create" class="list-group-item list-group-item-action py-4 text-center fw-bold">
                    Fakülte Ekle
                </a>
                <a asp-controller="Bolum" asp-action="Create" class="list-group-item list-group-item-action py-4 text-center fw-bold">
                    Bölüm Ekle
                </a>
                <a asp-controller="Ogrenci" asp-action="Create" class="list-group-item list-group-item-action py-4 text-center fw-bold">
                   Öğrenci Ekle
                </a>
                <a asp-controller="Ogrenci" asp-action="Sorgula" class="list-group-item list-group-item-action py-4 text-center fw-bold">
                    Öğrenci Sorgula
                </a>
                <a asp-controller="Ogrenci" asp-action="SorgulaWS" class="list-group-item list-group-item-action py-4 text-center fw-bold">
                     Öğrenci Sorgula (Web Servisi ile)
                </a>
            </div>
        </div>
    </div>
</div>
